.loading
    .load

.text-center
    .container
        
        span.error 404 - Not Found

        p.big OOPS! 
        p.small It seems that we can't find your page!
        
        button.back((click)="navHome()") Back to Home