
.login.text-center
    .container
        .avatar
            img(src="../../assets/img/images.jpg", alt="user-image")
            h1.angular Angular Theme
            p.free Free Edition

        form.form(#loginform="ngForm", (ngSubmit)="onSubmit(loginform.value)", (keyup.enter)="onSubmit(loginform.value)")
            .from-group
                label(for="email") Username
                input.form-control(type="text", id="username" name="username",
                [(ngModel)]="model.name",
                #username="ngModel" required)
                .validate([hidden]="username.valid || username.pristine") Username is required

            .form-group
                label(for="pass")  Password
                input.form-control(type="password", id="pass", name="pass",
                [(ngModel)]="model.pass",
                #password="ngModel" required)
                .validate([hidden]="password.valid || password.pristine") Write your password man!

            button.button(type='submit', [disabled]="!loginform.form.valid") Login
            span or
            button.buttons(type='submit', routerLink="/signup") signup