
<div class="login text-center">
  <div class="container">
    <div class="avatar"><img src="../../assets/img/images.jpg" alt="user-image"/>
      <h1 class="ani">Ani Theme</h1>
      <p class="free">Free Edition</p>
    </div>
    <form class="form">
      <div class="from-group">   
        <label for="email">Your Email</label>
        <input class="form-control" type="email" id="email" name="email"/>
      </div>
      <div class="form-group">
        <label for="pass"> Password</label>
        <input class="form-control" type="password" id="pass" name="pass"/>
      </div>
      <button class="btn btn-primary button" type="submit">Login</button>
    </form>
  </div>
</div>