.login.text-center
    .container
        .avatar
            img(src="../../assets/img/images.jpg", alt="user-image")
            h1.ani Ani Theme
            p.free Free Edition

        form.form
            .from-group    
                label(for="email") Your Email
                input.form-control(type="email", id="email" name="email")

            .form-group
                label(for="pass")  Password
                input.form-control(type="password", id="pass", name="pass")

            button.btn.btn-primary.button(type='submit') Login