
<div class="component">
  <header class="text-center">
    <section class="background">
      <div class="cover">
        <div class="overlay text-left">
          <h2>User Profile</h2>
          <p>Front-end Developer</p>
        </div>
      </div>
    </section>
  </header>
  <nav> <img class="pull-right" src="../../../assets/img/images.jpg" alt="user-image"/>
    <button class="like-btn">   <i class="fa fa-heart" title="Like"></i><span>33</span></button>
    <div class="clearfix"></div>
  </nav>
  <main>
    <section class="info">
      <h2>lorem ipsum</h2>
      <ul class="details">
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
      </ul>
    </section>
    <section class="main-content">
      <article class="post">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </article>
    </section>
    <section class="portfolio"></section>
  </main>
</div>