
<div class="component">
  <header>
    <div class="background"></div>
    <nav> <img class="pull-right" src="../../../assets/img/images.jpg" alt="user-image"/>
      <div class="like-btn">   <i class="fa fa-heart" title="Like"></i><span>33</span></div>
    </nav>
  </header>
  <main>
    <section class="info">
      <h2>lorem ipsum</h2>
      <ul class="details">
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span></li>
      </ul>
    </section>
    <section class="main-content">
      <article class="post">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </article>
    </section>
    <section class="portfolio"></section>
  </main>
</div>