.component
    header
        section.background
            .cover
                .overlay.text-left
                    h2 User Profile
                    p Front-end Developer
        - var list = {'fa-facebook':"facebook", 'fa-github':"github", 'fa-question':"ask", 'fa-twitter': "twitter", "fa-linkedin": "linkedin"}
        nav 
            img(src="../../../assets/img/images.jpg", alt="user-image")
            ul.list-unstyled.pull-right.social
                each y,z in list
                    li
                        button(title=y)
                            a(href="#", target="_blank")
                                i.fa(class=z)
            button.like-btn    
                i.fa.fa-heart(title="Like")
                span 33
        .clearfix

    main
        section.main-content.col-sm-6.col-xs-12
            article.post
                h2 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                
        section.info.col-sm-5.col-xs-12 
            h2 Bio
            ul.details
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing

        section.portfolio.col-sm-6.col-xs-12 
            h2 My portfolio
            ul.sites
                
        .clearfix