@import '../variables.scss';


.component {
    margin-right: 10px;
}

header {
    position: relative;
    .background {
        background-image: url('../../../assets/img/back.jpg');
        background-size: cover;
        overflow: hidden;
        .cover {
            height: 300px;
            .overlay {
                color: rgba(#fff, 0.9);
                padding: 20px;
                width: 100%;
                height: 100%;
                background-color: rgba(#000, 0.7);
                h2 {
                    margin-top: 0;
                }
            }
        }
    }
    nav {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        height: 50px;
        img {
            position: absolute;
            float: right;
            right: 0;
            top: 68%;
            max-width: 120px;
            height: auto;
            border-radius: 50%;
        }
        .social {
            margin-bottom: 0;
            margin-right: 11%;
            height: 100%;
            li {
                display: inline-block;
                height: 100%;
            }
        }
        button {
            padding: 9px 31px;
            background-color: transparent;
            border: none;
            color: $mainColor;
            height: 100%;
            font-size: 1.7vw;
            &.like-btn {
                .fa-heart {
                    margin-right: 8px;
                }
                span {
                    font-size: 1.3vw;
                }
            }
            a{
                color: $backColor;
            }
            &:hover {
                background-color: $backColor;
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
    }
}

main {
    section {
        background-color: #fff;
        border: 1px solid #ccc;
        margin-bottom: 15px;
        &.info {
            border-top: none;
            width: 48.79%;
            margin-left: 1%;
            h2 {
                font-family: 'Indie Flower', cursive; 
            }
            .details {
                padding-left: 0;
                li {
                    &:not(:last-of-type) {
                        border-bottom: 1px solid #ccc;
                    }
                    padding: 9px;
                    i {
                        display: inline-block;
                        margin-right: 15px;
                        font-size: 21px;
                    }
                }
            }
        }
        &.main-content {
            border-top: none;
            padding: 18px;
            .post {
                p {
                    line-height: 1.8;
                }
            }
        }
        &.portfolio {
            margin-top: -7.25%;
        }
    }
}