.component
    header
        section.background
            .cover
                .overlay.text-left
                    h2 User Profile
                    p Front-end Developer
        - var list = {'fa-facebook':"facebook", 'fa-github':"github", 'fa-question':"ask", 'fa-twitter': "twitter"}
        nav 
            img(src="../../../assets/img/images.jpg", alt="user-image")
            ul.list-unstyled.pull-right.social
                each y,z in list
                    li
                        button(title=y)
                            a(href="#", target="_blank")
                                i.fa(class=z)
            button.like-btn    
                i.fa.fa-heart(title="Like")
                span 33

    main
        section.info
            h2 lorem ipsum
            ul.details
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit.
                li 
                    i.fa.fa-home
                    span Lorem ipsum dolor sit amet consectetur adipisicing elit.

        section.main-content
            article.post
                h2 Lorem ipsum
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        section.portfolio