
<div class="component">
  <header>
    <section class="background">
      <div class="cover">
        <div class="overlay text-left">
          <h2>User Profile</h2>
          <p>Front-end Developer</p>
        </div>
      </div>
    </section>
    <nav> <img src="../../../assets/img/images.jpg" alt="user-image"/>
      <ul class="list-unstyled pull-right social">
        <li>
          <button title="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></button>
        </li>
        <li>
          <button title="github"><a href="#" target="_blank"><i class="fa fa-github"></i></a></button>
        </li>
        <li>
          <button title="ask"><a href="#" target="_blank"><i class="fa fa-question"></i></a></button>
        </li>
        <li>
          <button title="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></button>
        </li>
        <li>
          <button title="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></button>
        </li>
      </ul>
      <button class="like-btn">   <i class="fa fa-heart" title="Like"></i><span>33</span></button>
    </nav>
    <div class="clearfix"></div>
  </header>
  <main>
    <section class="main-content col-sm-6 col-xs-12">
      <article class="post">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </article>
    </section>
    <section class="info col-sm-5 col-xs-12"> 
      <h2>Bio</h2>
      <ul class="details">
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing</span></li>
        <li> <i class="fa fa-home"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing</span></li>
      </ul>
    </section>
    <section class="portfolio col-sm-6 col-xs-12"> 
      <h2>My portfolio</h2>
      <ul class="sites"></ul>
    </section>
    <div class="clearfix"></div>
  </main>
</div>