.component
    .form-group.col-xs-12
        label(for="ghusername") Write your Github username
        input.form-control(type="text",
        id="ghusername",
        name="ghusername",
        placholder="github username",
        (keyup.enter)="request()", autofocus)

    a(id="ghsubmitbtn", (click)="request()") pull user data
    #ghapidata.text-center
