$mainColor: rgb(54, 176, 247);
$textColor: #3ca2e0;
header {
    nav {
        background-color: #fff;
        color: $textColor;
        .head {
            float: left;
            width: 20%;    
            a {
                color: rgba(#fff, 0.8);
                text-decoration: none;
                h1 {
                    background-color: $mainColor;
                    padding: 10px 36px;
                    margin: 0 20px 0 0;
                    font-size: 1.7vw;
                }
            }
        }
        .rest-nav {
            float: left;
            width: 80%;
            .left {
                width: 50%;
                padding: 10px;
                .fa-search {
                    position: absolute;
                    top: 12px;
                    font-size: 19px;
                }
                .search {
                    position: relative;
                    background-color: transparent;
                    border-color: transparent transparent $mainColor;
                    border-width: 1px;
                    box-shadow: none;
                    outline: 0;
                    padding-left: 25px;
                    width: 10%;
                    transition: width 0.3s linear;
                    &:focus {
                        width: 35%;
                    }
                }
                .clickable {
                    position: relative;
                    cursor: pointer;
                    display: inline-block;
                    margin-right: 10px;
                    .fa {
                        font-size: 20px;
                    }
                    span {
                        position: relative;
                        color: #fff;
                        z-index: 1;
                        top: -12px;
                        left: 29px;
                        background-color: #de6764;
                        border-radius: 50%;
                        font-size: 12px;
                        padding: 3px;
                    }
                }
                .not-menu, .mess-menu {
                    position: absolute;
                    margin: 15px 0 0px 70px;
                    list-style: none;
                    color: #5f5e5e;
                    border: 1px solid #9c9c9c;
                    display: none;
                    padding-left: 0;
                    z-index: 2;
                    li {
                        border-bottom: 1px solid #9c9c9c;
                        padding: 5px 15px;
                    }
                }
                .mess-menu {
                    margin: 15px 0 0px 115px;
                }
            }
        }
    }
}