
<div class="component">
  <div class="col-xs-6">
    <canvas class="chart page-item" id="skillsChart" width="100%" height="75px" tabindex="0">{{chart}}</canvas>
  </div>
  <div class="col-xs-6">
    <canvas class="chart page-item" id="strenghthChart" width="100%" height="75px" tabindex="0">{{chart2}}</canvas>
  </div>
  <div class="clearfix"></div>
  <ul class="skills page-item">
    <li class="col-md-6"><i class="fa fa-check"></i> Writing DRY code</li>
    <li class="col-md-6"><i class="fa fa-check"></i>accessibility&amp; Cross-Browser testing</li>
    <li class="col-md-6"><i class="fa fa-check"></i> Using modern tools and up-to-date strategies</li>
    <li class="col-md-6"><i class="fa fa-check"></i> Writing semantic HTML</li>
    <li class="col-md-6"><i class="fa fa-check"></i> Ability to improve the code</li>
    <li class="col-md-6"><i class="fa fa-check"></i> Excellent output</li>
    <div class="clearfix"></div>
  </ul>
</div>