.component
    .col-xs-6
        canvas#skillsChart.chart(width='100%', height="60px") {{chart}}
    
    .col-xs-6
        canvas#strenghthChart.chart(width='100%', height="60px") {{chart2}}

    table.table.table-default
        tbody
            tr
                td 1
                td 2
            tr
                td 3 
                td 4
            tr
                td 5
                td 6    