@import 'variables.scss';

$mainColor: rgb(54, 176, 247);
$backColor: #3ca2e0;
$textColor: rgba(#fff, 0.8);

header {
    nav {
        background-color: #fff;
        color: #3ca2e0;
        height: 45px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.13);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        li {
            cursor: pointer;
            &:hover {
                color: #fff;
                background-color: $mainColor;
            }
        }
        .head {
            float: left;
            width: 20%;    
            a {
                color: $textColor;
                text-decoration: none;
                h1 {
                    background-color: $mainColor;
                    padding: 10px 33px;
                    margin: 0 20px 0 0;
                    font-size: 1.7vw;
                    border-bottom: 1px solid #0d98e8;
                    height: $height + 1px;
                }
            }
        }
        .rest-nav {
            float: left;
            width: 80%;
            height: 45px;
            .left {
                width: 50%;
                padding: 10px;
                .fa-search {
                    position: absolute;
                    top: 12px;
                    font-size: 19px;
                }
                .search {
                    position: relative;
                    background-color: transparent;
                    border-color: transparent transparent $mainColor;
                    border-width: 1px;
                    box-shadow: none;
                    outline: 0;
                    padding-left: 25px;
                    width: 10%;
                    transition: width 0.3s linear;
                    &:focus {
                        width: 35%;
                    }
                }
                .clickable {
                    cursor: pointer;
                    display: inline-block;
                    margin-right: 10px;
                    .fa {
                        font-size: 20px;
                    }
                    span {
                        position: relative;
                        color: #fff;
                        z-index: 1;
                        top: -12px;
                        left: 29px;
                        background-color: #de6764;
                        border-radius: 50%;
                        font-size: 12px;
                        padding: 3px;
                    }
                }
                .not-menu, .mess-menu {
                    background-color: #fff;
                    box-shadow: 0px 7px 10px -3px #ccc;
                    display: none;
                    position: absolute;
                    margin: 11px 0 0px 70px;
                    list-style: none;
                    color: #5f5e5e;
                    padding-left: 0;
                    z-index: 999;
                    li {
                        border-bottom: 1px solid #9c9c9c;
                        padding: 5px 15px;
                    }
                }
                .mess-menu {
                    margin: 11px 0 0px 115px;
                }
            }
            .right {
                .links {
                    margin-bottom: 0;
                    height: $height;
                    li {
                        float: left;
                        padding: 5px 15px;
                        height: 45px;
                        img {
                            max-height: 35px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        span {
                            line-height: 2.3;
                        }
                    }
                }
                .clickable {
                    position: relative;
                }
                .profile {
                    display: none;
                    position: absolute;
                    right: 10px;
                    width: 12%;
                    z-index: 3;
                    box-shadow: 0px 7px 10px -3px #ccc;
                    li {
                        padding: 10px;
                        border-bottom: 1px solid #000;
                        &:hover {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

aside {
    background-color: rgba($mainColor, 0.8);
    position: fixed;
    top: 45px;
    left: 0;
    height: 100%;
    width: $width;
    color: rgba(255,255,255,.8);
    &.switch {
        right: 0;
        left: auto;
        .sidebar {
            position: absolute;
            text-align: right;
            right: 0;
            .profile-img {
                position: relative;
                right: 25%;
            }
            .navigate {
                li {
                    .item {
                        position: relative;
                        left: auto;
                        right: 0;
                        float: right;
                    }
                }
            }
        }
    }
    .sidebar {
        width: 100%;
        .profile-img {
            cursor: pointer;
            display: inline-block;
            img {
                border-radius: 50%;
                border: 5px solid #fff;
                max-height: 120px;
                max-width: 120px;
                margin-top: 40px;
            }
            .user-name {
                color: $textColor;
                font-size: 22px;
                margin-top: 10px;
            }
            &:hover {
                text-decoration: none;
            }
        }
        .navigate {
            background-color: transparent;
            padding-left: 0;
            margin-top: 75px;

            li {
                overflow: hidden;
                outline: 0;
                transition: all 0.3s ease-in-out;
                &.active {
                    i {
                        color: #fff;
                    }
                }
                &:hover {
                    background-color: #fff;
                    color: $mainColor;
                    cursor: pointer;
                    i{     
                        background-color: rgba($mainColor, 0.8);
                        color: #fff;
                    }
                    .sec-item {
                        color: $mainColor;
                    }
                }
                .item {
                    background-color: $mainColor;
                    padding: 25px 0;
                    text-align: center;
                    width: 20%;
                    margin: 0;
                    float: left;
                    transition: all 0.2s linear;
                    position: relative;
                    left: 0;
                    right: auto;
                }
                .sec-item {
                    display: inline-block;
                    font-size: 21px;
                    width: 80%;
                    padding: 6px 15px;
                    color: rgba($mainColor, 0);
                    position: relative;
                    top: 23px;
                }
            }
        }
    }
}