header
    nav
        .head
            a.heading(routerLink="/dashboard/preview")
                h1.title Angular Project
        .rest-nav
            .left.pull-left
                i.fa.fa-search
                input.search(type="search")

                .clickable.notifi
                    span    13
                    i.fa.fa-bell 

                ul.not-menu
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur

                .clickable.messages
                        span    14
                        i.fa.fa-envelope
                
                ul.mess-menu
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur
                    li 
                        p
                            strong Lorem, ipsum
                        p   Lorem, ipsum dolor sit amet consectetur

            .right.pull-right
                ul.links.list-unstyled
                    li.toggle 
                        span LTR/RTL
                    li.clickable 
                        img(src="../../assets/img/images.jpg", alt="user-image")
                        span Project user
                    .clearfix
                
                ul.profile.list-unstyled
                    li Profile
                    li Logout
            .clearfix
        .clearfix


aside
   .sidebar hi



router-outlet