
<header>
  <nav>
    <div class="head"><a class="heading" routerLink="/dashboard/preview">
        <h1 class="title">Angular Project</h1></a></div>
    <div class="rest-nav">
      <div class="left pull-left"><i class="fa fa-search"></i>
        <input class="search" type="search"/>
        <div class="clickable notifi"><span>   13</span><i class="fa fa-bell"> </i></div>
        <ul class="not-menu">
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
        </ul>
        <div class="clickable messages"><span>   14</span><i class="fa fa-envelope"></i></div>
        <ul class="mess-menu">
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
        </ul>
      </div>
      <div class="right pull-right">
        <ul class="links list-unstyled">
          <li class="toggle"> <span>LTR/RTL</span></li>
          <li class="clickable"> <img src="../../assets/img/images.jpg" alt="user-image"/><span>Project user</span></li>
          <div class="clearfix"></div>
        </ul>
        <ul class="profile list-unstyled">
          <li>Profile</li>
          <li>Logout</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </nav>
</header>
<aside>
  <div class="sidebar">hi</div>
</aside>
<router-outlet></router-outlet>