
<div class="loading">
  <div class="load"></div>
</div>
<header>
  <nav>
    <div class="head"><a class="heading" (click)="navToHome()">
        <h1 class="title">Angular Project</h1></a></div>
    <div class="rest-nav">
      <div class="left pull-left"><i class="fa fa-search"></i>
        <input class="search" type="search"/>
        <div class="clickable notifi"><span>   13</span><i class="fa fa-bell"> </i></div>
        <ul class="not-menu">
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
        </ul>
        <div class="clickable messages"><span>   14</span><i class="fa fa-envelope"></i></div>
        <ul class="mess-menu">
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
          <li> 
            <p><strong>Lorem, ipsum</strong></p>
            <p>  Lorem, ipsum dolor sit amet consectetur</p>
          </li>
        </ul>
      </div>
      <div class="right pull-right">
        <ul class="links list-unstyled">
          <li class="toggle" tabindex="0"><span>LTR/RTL</span></li>
          <li class="clickable" tabindex="0"> <img src="../../assets/img/images.jpg" alt="user-image"/><span>Project user</span></li>
          <div class="clearfix"></div>
        </ul>
        <ul class="profile list-unstyled">
          <li (click)="navToProfile()" tabindex="0">Profile</li>
          <li class="logger" (click)="navTologout()" tabindex="0">Logout</li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </nav>
</header>
<aside>
  <div class="sidebar text-center"><a class="profile-img" (click)="navToProfile(); rightLeft()"><img src="../../assets/img/images.jpg" alt="user-image"/>
      <p class="user-name">User Name</p></a>
    <ul class="navigate text-left">
      <li (click)="navToHome(); rightLeft()" title="Home" tabindex="0" role="button"><i class="fa fa-3x item fa-home"></i><span class="sec-item">Home</span></li>
      <li (click)="navToRepos(); rightLeft()" title="Repos" tabindex="0" role="button"><i class="fa fa-3x item fa-github"></i><span class="sec-item">Repos</span></li>
      <li (click)="navTologout(); rightLeft()" title="logout" tabindex="0" role="button"><i class="fa fa-3x item fa-sign-out"></i><span class="sec-item">logout</span></li>
    </ul>
    <footer class="text-center">
      <p> mohamedsaad &copy; 2018</p>
    </footer>
  </div>
</aside>
<router-outlet></router-outlet>