$width: 253.49px;
$height: 44px;

.component {
    height: 100%;
    margin-left: $width;
    margin-top: $height + 11px;
    &.switched {
        margin-left: 0;
        margin-right: $width;
    }
}