$width: 253.49px;
$height: 44px;
$mainColor: rgb(54, 176, 247);
$backColor: #3ca2e0;
$textColor: rgba(#fff, 0.8);


.component {
    height: 100%;
    margin-left: $width + 10px;
    margin-top: $height + 11px;
    &.switched {
        margin-left: 0;
        margin-right: $width;
    }
}