/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~font-awesome/css/font-awesome.css";


body {
    background-color: rgb(236, 240, 241);
    font-family: 'Montserrat', sans-serif;
}

ul {
    background-color: #fff;
    list-style: none;
}


#loader img {
    max-width: 100px;
    max-height: 100px;
}

#ghapidata h2 {
    text-transform: capitalize;
}

.smallname {
    display: block;
    font-size: 1.5vw;
}

.ghcontent .avi img {
    border-radius: 50%;
    border: 2px solid rgba(14, 14, 14, 0.6);
}

.ghcontent p {
    margin-top: 18px;
    border: 1px dotted #000;
    display: inline-block;
    padding: 10px;
}

.repolist {
    text-align: left;
}

.repolist p {
    text-align: left;
    margin-left: 4%;
}

.repo-item {
    background-color: rgb(54, 176, 247);
    padding: 14px;
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    margin-left: 4%;
    margin-top: 10px;
}

.repo-item:hover {
    background-color: rgba(54, 176, 247, 0.8);
}

.repo-item a {
    color: #fff;
}