/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    background-color: rgb(236, 240, 241);
    font-family: 'Montserrat', sans-serif;
}

ul {
    background-color: #fff;
    list-style: none;
}

